:root {
  /* colors  */
  --very-light-color: #727272;
  --white: #fff;
  --text-input-field: #f7f7f7;
  --black: #000;
  --dark: #232830;
  --first-color: #3a6aff;
  --first-color-alt: #0a2be6;

  /* font & typography  */
  --body-font: 'Quicksand', sans-serif;
  --h1-font-size: 1.8rem;
  --h2-font-size: 1.6rem;
  --h3-font-size: 1.4rem;
  --normal-font-size: 1.6rem;
  --small-font-size: 1.4rem;
  --smaller-font-size: 1.2rem;

  /* font weight */
  --font-light: 300;
  --font-medium: 500;
  --font-bold: 700;

  /* margins bottom*/
  --mb-0-4: 0.4rem;
  --mb-0-8: 0.8rem;
  --mb-1-2: 1.2rem;
  --mb-1-6: 1.6rem;
  --mb-2-4: 2.4rem;
  --mb-4: 4rem;
}
