.MyOrders-my-orders {
  width: 100%;
  height: 100vh;
  padding: 1.2rem;
}
.MyOrders-orders-title {
  display: none;
  margin-bottom: var(--mb-4);
  font-size: var(--normal-font-size);
}
@media screen and (min-width: 768px) {
  .MyOrders-my-orders {
    display: grid;
    place-items: center;
  }
  .MyOrders-orders-title {
    display: block;
  }
}
